html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  align-items: start;
  justify-items: center;
  background-color: blanchedalmond;
}

.LandingPageImage{
   align-self: start;
}

.login-form-control {
    border: none;
    border-radius: 20px;
    background:white;
}

.login-button {
    align-content: center;
    border: 2px solid white;
    border-radius: 20px;
    width: 110px
}

.password-forgot{
    align-content: center;
    border: solid white;
    border-radius: 20px;
    width: 110px
}

.search-bar {
  position: relative;
  display: inline-block;
}

.search-bar-input {
  position: absolute;
  top: 200px;
  left: 230px ;
  width: 150%;
  height: 200%;
  align-items: center;

}
.search-bar-input {
  text-align: left;
  width: 140%;
}