<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask and S3</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1>E-Library Login</h1>
<!  image radius >
<style>
    img {
        border-radius: 90%;
    }
</style>
<div class="search-bar">
    <img src="{{url_for('static', filename='bookstore-Image1.jpg')}}"/>

    <div class="search-bar-input">
        <input type="search" placeholder="Search your book">
        <form method="POST" action="display_book_results.html">
            <input type="submit" class = "search-input-button"/>
        </form>
    </div>
</div>

<div class="container">
    <h2>Flask and AWS S3 Example</h2>
    <hr/>
    <div id="uploadFile">
        <h3>File Upload</h3>
        <form method="post" action="/upload" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" class="form-control-file" id="fileInput">
            </div>
            <button type="submit" class="btn btn-outline-primary btn-sm">Upload file</button>
        </form>
    </div>
    <hr/>
    <div id="uploadedFiles">
        <h3>Uploaded Files</h3>
        <small>Click on the file to download it.</small>
        <ul class="list-group list-group-flush">
            {% for item in contents %}
            <li class="list-group-item">
                <a href="/download/{{ item.Key }}"> {{ item.Key }} </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<head>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.179.0.min.js"></script>
</head>
<!--<body>-->
<!--  <img height="200" width="200">-->
  <script>

    var mimes = {
        'jpg': 'data:image/jpg;base64,'
    };

      AWS.config.update({
          region: 'us-east-1',
          accessKeyId: 'AKIAVVCE6YC6UVS63U5J',
          secretAccessKey: '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'
      });

      var bucket = new AWS.S3({params: {Bucket: 'librarybucket2021'}});

      function encode(data)
      {
          var str = data.reduce(function(a,b){ return a+String.fromCharCode(b) },'');
          return btoa(str).replace(/.{76}(?=.)/g,'$&\n');
      }

      function getUrlByFileName(fileName,mimeType) {
          return new Promise(
              function (resolve, reject) {
                  bucket.getObject({Key: fileName}, function (err, file) {
                      var result =  mimeType + encode(file.Body);
                      resolve(result)
                  });
              }
          );
      }

      function openInNewTab(url) {
          var redirectWindow = window.open(url, '_blank');
          redirectWindow.location;
      }

      getUrlByFileName('.png', mimes.jpeg).then(function(data) {
          //openInNewTab(data);
          document.querySelector('img').src = data;
      });

  </script>
</body>
</html>

<table class="table table-striped">
        <br>
        <br>
        <tr>
          <th>My Photos</th>
           {% for f in list_of_files %}
            <td> <img src="{{ f }}"></td>
            {% endfor %}
        </tr>
</table>